.boton2{
  margin: 20px;
}

.boton{
  padding: 10px 10px;
  background-color: rgb(123, 54, 54);
  border: none;
  border-radius: 5px;
  color: red;
  font-size:30px;
  float: left;
  margin: 20px;
  text-align: center;
 
}

.boton:hover{
  background-color: rgb(0, 255, 234);
}